*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "PT Serif", serif;
}
$primary: #025294;
$secondary: #e24149;
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.header__navbar__contact {
  background-color: $primary;
  padding: 8px 13px;
  margin: 0px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.header__section {
  // position: fixed;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #ffff;
}
.header__logo {
  color: #121212;
  font-size: 22px;
  font-weight: bold;
}
.header__logo img {
  width: fit-content;
  height: 100px;
}
.header__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 8px;
  z-index: 999;
}
.header__entries {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__navbar__link__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
}
.header__navbar__link__wraper .active {
  background-color: $secondary;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}
.header__navbar__link__parent {
  position: relative;
}
.header__navbar__link__parent:hover .header__navbar__link__dropdown {
  display: flex;
}
.header__navbar__link__dropdown::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
}
.header__navbar__link__dropdown {
  display: flex;
  padding: 2em;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  background-color: white;
  width: 300px;
  left: calc(-50% - 30px);
  display: none;
}
.header__navbar__link__dropdown__link {
  text-decoration: none;
  margin: 2px 0px;
  color: $primary;
  font-weight: 400;
  transition: 0.1s ease-in-out;
  padding: 12px 10px;
  cursor: pointer;
}
.header__navbar__link__dropdown__link:hover {
  background-color: $secondary;
  color: white;
  transition: 0.1s ease-in-out;
}
.header__navbar__link {
  text-decoration: none;
  color: $primary;
  font-size: 16px;
  margin: 0px 7px;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.header__navbar__link:hover {
  background-color: $secondary;
  color: white;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.header__menu {
  display: none;
  height: 50px;
  width: 50px;
}
.header__upper__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.header__upper__nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__upper__nav__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 12px;
}
.header__upper__nav__entry__svg {
  margin: 0px 6px;
}
.header__upper__nav__entry__svg svg {
  color: $secondary;
}
.header__upper__nav__entry__text__input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.banner__section {
  background-color: $primary;
  width: 100%;
}
.banner__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
}
.banner__img {
  width: 100%;
  height: 400px;
}
.banner__img img {
  width: 100%;
  height: 402px;
  object-fit: cover;
}
.banner__img__text__wraper {
  padding: 2em 0.4em;
  background-color: $secondary;
  color: white;
  height: 403px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner__img__text__wraper__heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 0px 12px;
}
.banner__img__text__wraper__sub__heading {
  font-size: 18px;
  text-align: center;
  margin: 12px;
}
.innovative__content__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
.Innovative__heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: $primary;
}
.Innovative__heading__sub {
  font-size: 18px;
  text-align: center;
  margin: 12px;
  font-weight: lighter;
  line-height: 26px;
  color: #5a6163;
}
.training__card__container__main {
  padding: 3em 0em;
  width: 100%;
  background-image: url(../assets/background.png);
}
.training__card__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.traning__card__text__wraper {
  width: 28%;
  min-width: 300px;
  min-height: 340px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: $secondary;
  color: white;
  margin: 0.5em;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.traning__card__text__wraper:hover {
  transition: 0.3s ease-in-out;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
}
.training__card__container__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.training__card__svg svg {
  height: 60px;
}
.training__card__heading {
  font-size: 20px;
  font-weight: 600;
  margin: 12px;
}
.traning__card__contect {
  font-size: 16px;
  margin: 12px 0px;
  line-height: 22px;
}
.traning__card__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.traning__card__btn__link {
  background-color: white;
  padding: 12px 20px;
  color: black;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-top: 1em;
}
.traning__card__btn__link:hover {
  background-color: $primary;
  color: white;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.footer__contaier {
  width: 100%;
  background-color: $primary;
}
.footer__container__row {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: white;
}
.contect__wraper__main {
  background-color: #f1f3f2;
}
.contect__contaier {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  max-width: 1300px;
  margin: 0 auto;
}
.contect__contaier__col {
  width: 50%;
  padding: 0em 3em;
}
.contect__contaier__col__heading {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: $primary;
  margin-top: 1em;
}
.contect__contaier__col__form {
  width: 100%;
  margin: 3em 0em;
}
.input__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input__wraper__entry {
  width: 49%;
}
.input__wraper__entry__input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 1em;
  padding-right: 5em;
}
.input__wraper__entry__input::-webkit-outer-spin-button,
.input__wraper__entry__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input__wraper__entry__input::placeholder {
  color: #c4c4c4;
}
.input__wraper textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.contect__contaier__col__text__heading {
  font-size: 40px;
  font-weight: 600;
  color: $primary;
  margin-top: 1em;
}
.contect__contaier__col__text__entry {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 12px 0px;
  flex-direction: column;
}
.contect__contaier__col__text__entry__heading {
  color: #5a6163;
  font-weight: 600;
  margin-bottom: 6px;
}
.about__contect__section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em 3em;
}
.about__contect__section__heading {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 12px;
}
.about__contect__section__sub__heading {
  line-height: 24px;
  margin-bottom: 1em;
}
.solution__contect__section__sub__heading {
  line-height: 24px;
}
.profit__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
}
.profit__img img {
  width: 100%;
  object-fit: contain;
  height: 400px;
}
.about__contect__section__sub__heading__entry {
  margin: 12px 0px;
}
.about__contect__section__sub__heading__entry span {
  color: $primary;
  font-weight: 600;
  margin-right: 6px;
}
.about__md {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.about__md__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e9e2e2;
  padding: 1em;
}
.about__md__img img {
  height: 300px;
}
.about__md__heading {
  font-size: 18px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 7px;
}
.about__md__sub__heading {
  color: #5a6163;
}
.about__md__learn {
  background-color: $primary;
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  margin: 12px 0px;
  cursor: pointer;
}
.btn__md__more {
  width: 100%;
  margin: 12px 0px;
}
.about__md__more__btn {
  padding: 12px;
  background-color: $secondary;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin: 30px 0px;
  border-radius: 6px;
}
.scop__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.scop__container__heading {
  font-size: 30px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 12px;
}
.scop__wraper__main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
}
.scop__wraper__main__entry span {
  color: $primary;
  font-size: 20px;
  font-weight: 900;
  margin-right: 18px;
  position: relative;
}
.scop__wraper__main__entry {
  margin: 10px 0px;
  color: #5a6163;
}
.scop__container__sub__heading {
  color: #5a6163;
}
.scop__wraper__main__entry span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: $secondary;
  top: 6px;
  left: -20px;
}
.our__range__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.our__range__container__heading {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 12px;
  padding: 0em 1.4em;
}
.our__range__container__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
}
.our__range__container__wraper__card {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f1f3f2;
  border-radius: 9px;
  flex: 1;
  min-height: 430px;
}
.our__range__card__heading {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: $secondary;
  padding: 20px 18px;
  text-align: center;
}
.our__range__card__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  min-height: 140px;
  border-radius: 6px;
  color: white;
  margin: 0.3em 1em;
  background-color: $secondary;
}
.services__img__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 0em;
}
.solution__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3em;
}
.solution__text__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.solution__text__wraper__heading {
  font-size: 30px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 12px;
}
.solution__text__wraper__sub__heading {
  color: #5a6163;
  margin-bottom: 12px;
}
.solution__text__wraper__entry {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
  color: $primary;
  position: relative;
  text-decoration: none;
}
.solution__text__wraper__entry::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: $secondary;
  border-radius: 30px;
  left: -22px;
  top: 6px;
}
.executive__text__wraper__entry {
  margin: 10px 0px;
  font-size: 16px;
  position: relative;
}
.executive__text__wraper__entry::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: $secondary;
  border-radius: 30px;
  left: -22px;
  top: 6px;
}
.client__content__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 1em;
}
.client__content__wraper__heading {
  font-size: 30px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 12px;
}
.client__content__wraper__sub__heading {
  color: #5a6163;
  margin-bottom: 12px;
}
.client__img__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 0em;
}
.client__img__container__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 16px;
  cursor: pointer;
  border: 1px solid #f1f3f2;
  border-radius: 5px;
}
.client__img__container__img img {
  height: 150px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.client__img__container__img img:hover {
  transform: scale(1.6);
  transition: 0.5s ease-in-out;
}
.executives__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
}
.executives__container__heading {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 1em;
}
.traning__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 1em;
}
.traning__img img {
  height: 400px;
  object-fit: cover;
}
.traning__img__flow {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.traning__img__flow img {
  width: 100%;
  height: 400px;
}
.traning__content__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
}
.reducing__contact__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
}
.reducing__contact__container__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.reducing__contact__container__col {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
}
.reducing__contact__container__col__heading {
  font-size: 22px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 1em;
}
.reducing__contact__container__row__entry {
  margin: 10px 0px;
  font-size: 16px;
  color: #5a6163;
}
.reducing__contact__container__heading {
  margin: 1em 0em;
  font-size: 24px;
  font-weight: 600;
  color: #0e7bd4;
}
.reducing__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.reducing__img img {
  height: 400px;
}
.research__text__sub__heading {
  font-size: 22px;
  font-weight: 600;
  color: #0e7bd4;
  margin: 12px 0px;
}
.blog__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
}
.blog__card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog__card__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f3f2;
  margin: 1em;
  padding: 0em 1em;
  width: 300px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  cursor: pointer;
}
.blog__card__wraper:hover {
  background-color: $primary;
  color: white;
  transition: 0.3s ease-in-out;
}
.blog__card__wraper__img img {
  height: 180px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.blog__card__wraper__heading {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 5px 0px;
}
.blog__card__wraper__sub__heading {
  font-size: 16px;
  color: #8e9394;
  margin: 12px 0px;
}
.blog__card__wraper__text {
  text-align: center;
  margin-top: 9px;
  width: 90%;
  padding: 0.4em 0em;
}
@media (max-width: 1200px) {
  .banner__img__text__wraper {
    height: 230px;
  }
  .contect__contaier {
    flex-direction: column;
  }
  .banner__wraper {
    flex-direction: column;
  }
  .banner__img__text__wraper {
    width: 65%;
  }
}
@media (max-width: 950px) {
  .footer__container__row {
    flex-direction: column;
    align-items: flex-start;
  }
  .contect__contaier__col {
    width: 100%;
  }
  .banner__img__text__wraper {
    width: 90%;
    height: 230px;
  }
  .header__upper__nav__container {
    display: none;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__entries {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    right: 2em;
    background-color: rgb(230, 232, 233);
    width: 300px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
  }
  .header__navbar__link__parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__navbar__link__dropdown {
    position: relative;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    top: 10px;
  }
  .header__navbar__link__dropdown::after {
    display: none;
  }
}
@media (max-width: 550px) {
  .reducing__contact__container__heading {
    font-size: 20px;
  }
  .reducing__contact__container__col__heading {
    font-size: 18px;
  }
  .solution__text__wraper__heading {
    font-size: 20px;
  }
  .solution__text__wraper__entry {
    font-size: 16px;
  }
  .about__contect__section__heading {
    font-size: 20px;
  }
  .input__wraper__entry {
    width: 100%;
  }
  .input__wraper {
    flex-direction: column;
  }
  .contect__contaier__col__heading {
    font-size: 24px;
    margin-top: 4em;
  }
  .contect__contaier__col__text__heading {
    font-size: 24px;
  }
  .banner__img__text__wraper__heading {
    font-size: 24px;
  }
  .header__navbar__contact {
    display: none;
  }
}
@media (max-width: 700px) {
  .solution__text__wraper__heading {
    font-size: 24px;
  }
  .Innovative__heading {
    font-size: 24px;
  }
  .Innovative__heading__sub {
    font-size: 16px;
  }
  .reducing__contact__container__row {
    flex-direction: column;
  }
}
